/* Page CSS */
@import "@geoapify/geocoder-autocomplete/styles/round-borders.css";

body {
    /*Responsive sizing*/
        display: flex;
        flex-direction: column;
        /*Background color*/
        background-color: #05373b ;
        text-align: center;
    }

    h1 {
        font-family: 'Bevan', serif;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 4em;
        color: whitesmoke;
        margin: 0;
        padding: 0;
    }

    /* Leaflet CSS */
    .map { 
        height: 50vh;
        width: 42%;;
        border-radius: 2%;
    }
    #mapHolder {
        display: flex;
        justify-content: center;
        gap: 2%;
        height: 50vh;
        padding-top: 1rem;
        

    }
    /* autocomplete css */
    .autocomplete-panel {
        position: static;
        align-self: center;
        width: 86%;
        padding-top: 1rem;
        text-align: left;
    }

    .autocomplete-container {
        position: relative;
        text-align: left;
    }