/* Page CSS */
body {
    /*Responsive sizing*/
        display: flex;
        flex-direction: column;
        /*Background color*/
        background-color: #005F6A ;
        text-align: center;
    }
    #cardHolder {
        display: flex;
        flex-direction: row; /* Display cards side by side */
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        background-color: transparent;
        width: 100%;
        height: fit-content;
    }

    h1 {
        font-family: 'Bevan', serif;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 4em;
        color: whitesmoke;
        height: fit-content;
        margin: 0.1em;
    }

    h3 {
        font-family: 'Bevan', serif;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1em;
        color: whitesmoke;
        height: fit-content;
        margin: 0.1em;
    }

    h5 {
        font-family: 'Bevan', serif;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1em;
        color: whitesmoke;
        height: fit-content;
        margin: 0.1em;
    }

    label {
        font-family: 'Bevan', serif;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1em;
        color: whitesmoke;
        height: fit-content;
        margin: 0.1em;
        width: 100%;
    }

    .card {
        border-radius: 30%;
        min-width: 100px;
        max-width: 30%;
        height: 25vh;
        background-color: #343541;
        margin: 3%;
        padding: 8%;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    /* Leaflet CSS */
    .map { height: 300px;
        width: 500px;
    }
    #mapHolder {
        display: flex;
        flex-direction: row;
        height: 50vh;
        padding: 3%;
    }
    </style>